{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="navbar">
        {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="/admin" class="">Admin</a>
        {% endif %}
        <a href="{% url 'bucket'%}" class="">Корзина</a>
    </div>
    <!-- <a href="{% url 'add_images'%}" class="">Добавить картинки</a> -->
    
    <div class="card" id="images_container">
        <div class="card-title">
            <h1>Картинки:</h1>
        </div>
        <div class="card-body">
            <div class="row">
                {% for image in images %}
                    {% if image.image %}
                        <div class="col-md-2">
                            <div class="form-control">
                                <img src="{{image.image}}" width="100" alt="Image">
                                <form action="" method="post" id="choose_image_form">
                                    {% csrf_token %}
                                    <input class="form-check-input" type="checkbox" name="choosed_image" onchange="choosed({{image.id}})" value="false">
                                </form>
                            </div>
                        </div>
                    
                    {% endif %}
                {% empty %}
                    <h3>Еще нет значков</h3>
                {% endfor %}
            </div>
        </div>
    </div>

    <form action="" method="post" id="add_image_form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" class="btn btn-round btn-facebook btn-sm" id="image_button_id" name="image_list" multiple>
        <button type="button" class="btn btn-fill btn-primary" onclick="addImages()">Добавить картинки</button>
    </form>

    <div class="card" id=""></div>
    <!--   Core JS   -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function addImages(event) {
            //   event.preventDefault();
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            var formData = new FormData($('#add_image_form')[0]);
            $.ajax({
                url: '/add_images/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRFToken', csrfToken);
                },
                success: function(response) {
                    location.reload();
                    console.log("success " + response.message)
                },
                error: function(xhr, status, error) {
                    console.log("No success", error)
                }
            });
        }
    </script>
    <script>
        function choosed(image_id) {
            var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
            var formData = new FormData($('#choose_image_form')[0]);
            formData.append('image_id', image_id);
            $.ajax({
                url: '/choise/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRFToken', csrfToken);
                },
                success: function(response) {
                    // location.reload();
                    console.log("success " + response.success)
                },
                error: function(xhr, status, error) {
                    console.log("No success", error)
                }
            });
        }
    </script>
</body>
</html>
